*{
    /*calcula o tamanho das boxs de acordo com as bordas e não pelo conteúdo*/
    box-sizing: border-box;
    /*remove as margens padrão dos navegadores*/
    margin: 0;
}

body{
    background: #007ABF;

    height: 100vh;
    padding: 10px;
    
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "footer aside";

    grid-template-rows: 75px 1fr 40px;
    grid-template-columns: 1fr 100px;
    

}

#titulo{
    font-family: 'Lato', sans-serif;
       
}

header{
    grid-area: header;

    padding: 10px 0;
   /*  height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    font-family: 'Lato', sans-serif;
    grid-area: main;

    padding: 0 10px;
}

aside{
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    grid-area: aside;    
}

ul {
    padding: 0 0 0 25px;
}

footer{
    grid-area: footer;
}